Importing the library

In [30]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [31]:
# koading thr data from the csv file to a pandas dataframe
movie_data = pd.read_csv('/content/movies.csv')

In [32]:
# print 1st five row of dataset in order to understand which type of row and col we have
movie_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [33]:
# how many number of row and col in the data set
movie_data.shape

(4803, 24)

In [34]:
# selecting the relevant feature
selected_feature = ['genres','keywords','tagline','cast','director']
print(selected_feature)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [35]:
# Now replace the null value with null string from selected feature , i.e from 5 rows
for feature in selected_feature:
      movie_data[feature] = movie_data[feature].fillna('')

In [36]:
#combine all five feature together, just concatinate
combined_feature = movie_data['genres']+' '+movie_data['keywords']+' '+movie_data['tagline']+' '+movie_data['cast']+' '+movie_data['director']

In [ ]:
print(combined_feature)

In [38]:
# Converting text into Number Because Cosine similarity will compare from Number that's why
vectorizer = TfidfVectorizer()

In [39]:
# all the number or numaric value will be store in the feture_vector variable
feature_vector = vectorizer.fit_transform(combined_feature)

In [ ]:
print(feature_vector)

Cosine Similarity

In [41]:
# getting the simiarity score using cosine similarity
# it will store all the similiarity score from dataset
# Now we will copare from this similarity score and predict the movie to the user
similarity = cosine_similarity(feature_vector)

In [42]:
def create_question(user_index, liked_movie_index, disliked_movie_index):
    """Create a question triple (user, liked_movie, disliked_movie)."""
    return (user_index, liked_movie_index, disliked_movie_index)

In [43]:
def answer_question(model_ability, question, similarity):
    """Simulate the model's ability to answer the question by ranking the liked movie higher than the disliked one."""
    user, liked_movie, disliked_movie = question
    liked_score = similarity[user][liked_movie]
    disliked_score = similarity[user][disliked_movie]
    # If the model ranks the liked movie higher, we consider it correct
    return liked_score > disliked_score

In [44]:
def evaluate_model(model_ability, questions, similarity):
    """Evaluate the model using IRT by calculating how well it answers the questions."""
    correct_answers = 0
    for question in questions:
        if answer_question(model_ability, question, similarity):
            correct_answers += 1
    # Return the percentage of correct answers
    return correct_answers / len(questions)

In [ ]:
print(similarity)

In [46]:
# it indicate index and row
similarity.shape

(4803, 4803)

In [47]:
# Getting the movie name from the user
movie_name = input("Enter your Fav Movie name : ")

Enter your Fav Movie name : Iron Man

In [ ]:
#creating a list will all the movie name from the given dataset
#tolist is the tool that print all the movie name that is in the title column
# it will print all the movie title name now we will compare which is close to
# user input movie name
list_of_all_titles = movie_data['title'].tolist()
print(list_of_all_titles)

In [49]:
# finding the close match with the user input movie mane i.e iron man
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [50]:
close_match = find_close_match[0]
print(close_match)

Iron Man

In [51]:
# finding the index of the movie with title
# we will compare title of all movie with close match
# if found close match then we  will find its index
# output is 68 means close match is present at index 68
index_of_the_movie = movie_data[movie_data.title == close_match]['index'].values[0]
print(index_of_the_movie)

68

In [ ]:
#creating a variable will all the movie name from the given dataset
#tolist is the tool that print all the movie name that is in the title column
# it will print all the movie title name now we will compare which is close to
# user input movie name
list_of_all_titles = movie_data['title'].tolist()
print(list_of_all_titles)

In [ ]:
#getting the list of simlar movie based in index 68 i.e iron man , iron man se milta julta jiska similarty score hai
similarti_score = list(enumerate(similarity[index_of_the_movie]))
print(similarti_score)

In [54]:
len(similarti_score)

4803

In [ ]:
# Now we are sorint the movie based on their similarty score , in desc order
# based on index no 68, it will predict  which has highest similarity from index no 68
sorted_similar_movies = sorted(similarti_score, key = lambda x:x[1],  reverse = True)
print(sorted_similar_movies)

In [56]:
#print the number of similar movie based on the index
# it will print top 30 movie which is related to iron man, which was enter by user
print(" Moview suggested for you : \n")
# i = 1 represent second index of sorted_similar_movie

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movie_data[movie_data.index==index]['title'].values[0]
  if(i<30):
    print(i,'.', title_from_index)
    i+=1

 Moview suggested for you :

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . The Avengers
6 . Captain America: Civil War
7 . Captain America: The Winter Soldier
8 . Ant-Man
9 . X-Men
10 . Made
11 . X-Men: Apocalypse
12 . X2
13 . The Incredible Hulk
14 . The Helix... Loaded
15 . X-Men: First Class
16 . X-Men: Days of Future Past
17 . Captain America: The First Avenger
18 . Kick-Ass 2
19 . Guardians of the Galaxy
20 . Deadpool
21 . Thor: The Dark World
22 . G-Force
23 . X-Men: The Last Stand
24 . Duets
25 . Mortdecai
26 . The Last Airbender
27 . Southland Tales
28 . Zathura: A Space Adventure
29 . Sky Captain and the World of Tomorrow

In [57]:
movie_name = input("Enter your Fav Movie name : ")

list_of_all_titles = movie_data['title'].tolist()

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movie_data[movie_data.title == close_match]['index'].values[0]

similarti_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarti_score, key = lambda x:x[1],  reverse = True)

print(" Moview suggested for you : \n")

i = 1


for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movie_data[movie_data.index==index]['title'].values[0]
  if(i<30):
    print(i,'.', title_from_index)
    i+=1

Enter your Fav Movie name : Iron Man
 Moview suggested for you :

1 . Iron Man
2 . Iron Man 2
3 . Iron Man 3
4 . Avengers: Age of Ultron
5 . The Avengers
6 . Captain America: Civil War
7 . Captain America: The Winter Soldier
8 . Ant-Man
9 . X-Men
10 . Made
11 . X-Men: Apocalypse
12 . X2
13 . The Incredible Hulk
14 . The Helix... Loaded
15 . X-Men: First Class
16 . X-Men: Days of Future Past
17 . Captain America: The First Avenger
18 . Kick-Ass 2
19 . Guardians of the Galaxy
20 . Deadpool
21 . Thor: The Dark World
22 . G-Force
23 . X-Men: The Last Stand
24 . Duets
25 . Mortdecai
26 . The Last Airbender
27 . Southland Tales
28 . Zathura: A Space Adventure
29 . Sky Captain and the World of Tomorrow